*.in
*.o
*.d
*.hex
*.lst
*.elf
*.a43
*.log
*.trc
*.vcd
*.pkt
*.nc
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/missing
doc/wsim-web/htdocs/
