/*/*/*/Makefile.in
/*/*/Makefile.in
/*/Makefile.in
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/missing
